<md-sidenav-container fullscreen>
  <md-sidenav #sidenav>
    <md-list>
      <md-list-item>
        <a routerLink="/dashboard" routerLinkActive="active" (click)="sidenav.toggle()">Dashboard</a>
      </md-list-item>
      <md-list-item>
        <a routerLink="/heroes" routerLinkActive="active" (click)="sidenav.toggle()">Heroes</a>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>
      {{ title }}
  </span>
  <span class="example-fill-remaining-space"></span>
  </md-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
<hero-add-button></hero-add-button>
